
<a href="/bookmarks/new">Add Bookmark</a>
<br/>
<%= flash[:error] %>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href=<%= bookmark.url %> target="blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Update">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment">
      </form>
      <ul>
        <% bookmark.comments.each do |comment| %>
          <li class="comment" id="comment-<%= comment["id"] %>">
            <%= comment["text"] %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>